.image-picker {
	@include clearfix;
	margin: 0 -7.5px;

	&__item {
		float: left;
		width: 25%;
		padding: 0 7.5px;

		&--active {
			.image-picker__item__link {
				border: 4px solid $grey;
			}
		}

		&__link {
			border: 0;
			display: block;
			transition: all .25s ease;
		}

		&__img {
			display: block;
			width: 100%;
		}
	}
}