@mixin clearfix {
	&:after {
		display: table;
		clear: both;
		content: '';
	}
}

@mixin center_vertical( $horizontal: false ) {
	position: absolute;
	top: 50%;
	transform: translateY( -50% );

	@if ( $horizontal ) {
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
}