.start {
	background-color: $green;
	height: 100vh;

	&__container {
		@include container;
	}

	svg {
		@include center_vertical( $horizontal: true );
		margin-top: -$section_offset;
		width: 710px;
		max-width: 70%;

		* {
			fill: white;
		}
	}
}