@import '../../../scss/_variables';

.project {
	&__view {
		margin-bottom: 30px;
	}

	&__viewport {
		position: relative;
		margin-bottom: 15px;

		&:hover {
			.project {
				&__viewport {
					&__btn {
						opacity: 1;
					}
				}
			}
		}

		&__img {
			display: block;
			width: 100%;
		}

		&__clip-top {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $white;
			transition: all .4s ease-in;
			clip-path: polygon(
				0% 0%,
				0% 0%,
				0% 0%
			);
		}

		&__clip-bottom {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $white;
			transition: all .4s ease-in;
			clip-path: polygon(
				100% 100%,
				100% 100%,
				100% 100%
			);
		}

		&--closed {
			.project__viewport {
				&__clip-top {
					clip-path: polygon(
						0% 0%,
						100% 0%,
						0 100%
					);
				}

				&__clip-bottom {
					clip-path: polygon(
						100% 100%,
						100% 0%,
						0 100%
					);
				}
			}
		}

		&__btn {
			@include center_vertical;
			opacity: 0;
			transition: all .25s ease;
			appearance: none;
			border: 0;
			border-radius: 0;
			display: block;
			background-color: $grey;
			color: white;
			padding: 8px 15px;
			cursor: pointer;
			font-family: $font;
			font-size: 1.4rem;

			&:focus {
				outline: 0;
			}

			&--left {
				left: 0;
			}

			&--right {
				right: 0;
			}
		}
	}

	&__meta {
		color: $grey;
	}

	&__title {
		margin-bottom: 15px;
	}

	&__date {
		margin-bottom: 5px;
		font-size: 1.8rem;
		font-weight: bold;
	}

	&__tools {
		font-size: 1.8rem;
		font-weight: bold;
		margin-bottom: 5px;
		list-style: none;

		&__item {
			display: inline-block;
		}
	}

	&__description {
		P {
			color: $grey;	
		}
	}
}