@import 'projectview/ProjectView';
@import 'imagepicker/ImagePicker';
@import 'projectgrid/ProjectGrid';

.portfolio-component {
	@include clearfix;

	&__project-grid {
		float: left;
		width: 200px;
		padding: 0 15px;
	}

	&__project-view {
		float: left;
		width: calc( 100% - 200px );
		padding: 0 15px;
	}
}