@import 'projectview/ProjectView';
@import 'imagepicker/ImagePicker';
@import 'projectgrid/ProjectGrid';

.portfolio {
	@include clearfix;

	&__project-grid {
		float: left;
		width: 33.3333333%;
	}

	&__project-view {
		float: left;
		width: 66.6666666%;
	}
}