.menu {
	position: absolute;
	bottom: 50px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;

	&__item {
		position: relative;
		display: inline-block;
		margin: 0 25px;
		padding: 0 10px 15px 10px;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			height: 2px;
			left: 0;
			right: 0;
			margin: 0 auto;
			background-color: transparent;
			transition: all .25s ease;
			width: 0;
		}

		&:hover {
			&:after {
				width: 100%;
				background-color: white;
			}
		}

		&__link {
			text-decoration: none;
			color: white;
		}
	}
}